// ********************************************************************************************************************
//
//  Variables
//
// ********************************************************************************************************************

// ****************************************************************************
//  Colors
// ****************************************************************************

$color-primary:       #53778a;
$color-black:         #515151;
$color-trueblack:     #000;
$color-gray:          #6b6a71;
$color-code-bg:       #202531;
$color-code-linenos:  lighten($color-code-bg, 15%);
$color-sidebar-icons: #252525;


// ****************************************************************************
//  Fonts
// ****************************************************************************

$font-family-headline:  Lato, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$font-family-paragraph: 'PT Serif', Georgia, 'Times New Roman', serif;
$font-family-code:      'Source Code Pro', Menlo, Monaco, 'Courier New', monospace;
$font-weight-light:     300;
$font-weight-normal:    400;
$font-weight-bold:      700;
