// ********************************************************************************************************************
//
//  Imports
//
// ********************************************************************************************************************

// ****************************************************************************
//  Poole / Lanyon
// ****************************************************************************
@import 'lanyon/poole';
@import 'lanyon/lanyon';

// ****************************************************************************
//  Core
// ****************************************************************************
@import 'core/variables';
@import 'core/typography';

// ****************************************************************************
//  Components
// ****************************************************************************
@import 'components/syntax';


// ********************************************************************************************************************
//
//  Base styles
//
// ********************************************************************************************************************

* {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing:  antialiased;
}

h1,
%h1,
h2,
%h2,
h3,
%h3,
h4,
%h4 {
    color: $color-gray;
}

a:hover,
a:focus {
    border-bottom:   1px dotted $color-primary;
    margin-bottom:   -1px;
    text-decoration: none;
}

img {
    display: inline;
    margin: 0;
}

pre {
    background-color: $color-code-bg;
    border-radius:    2px;
    box-shadow:       inset -4px 4px 4px rgba(0, 0, 0, .8);
}


// ****************************************************************************
//  Color theme
// ****************************************************************************

// scss-lint:disable IdSelector
.theme-dfm .sidebar,
.theme-dfm .sidebar-toggle:active,
.theme-dfm #sidebar-checkbox:checked ~ .sidebar-toggle {
    background-color: $color-primary;
}

.theme-dfm .container a,
.theme-dfm .sidebar-toggle,
.theme-dfm .related-posts li a:hover {
    color: $color-primary;
}
