// ********************************************************************************************************************
//
//  Variables
//
// ********************************************************************************************************************

// ****************************************************************************
//  Colors
// ****************************************************************************
$color-code-bg: #202531;

// ********************************************************************************************************************
//
//  Imports
//
// ********************************************************************************************************************

@import 'lanyon/poole';
@import 'lanyon/lanyon';
@import 'components/syntax';

// ********************************************************************************************************************
//
//  Base styles
//
// ********************************************************************************************************************

pre {
    background-color: $color-code-bg;
    font-size:        .7rem;
}

pre,
code {
    font-family: 'Source Code Pro', Menlo, Monaco, 'Courier New', monospace;
}
