// ********************************************************************************************************************
//
//  Imports
//
// ********************************************************************************************************************

// ****************************************************************************
//  Poole / Lanyon
// ****************************************************************************
@import 'lanyon/poole';
@import 'lanyon/lanyon';

// ****************************************************************************
//  Core
// ****************************************************************************
@import 'core/variables';
@import 'core/helpers';
@import 'core/typography';

// ****************************************************************************
//  Components
// ****************************************************************************
@import 'components/syntax';


// ********************************************************************************************************************
//
//  Base styles
//
// ********************************************************************************************************************

* {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing:  antialiased;
}

h1,
%h1,
h2,
%h2,
h3,
%h3,
h4,
%h4 {
    color: $color-gray;
}

a {
    @extend %transition-out;
    border-bottom: 1px dotted transparentize($color-primary, 1);

    &:hover,
    &:focus {
        @extend %transition-in;
        border-bottom:   1px dotted $color-primary;
        text-decoration: none;
    }
}

.emoji {
    border-radius: 0;
    display:       inline;
    margin:        0;
}

svg:not(:root) {
    overflow: hidden;
}

.svg-icon {
    fill:           $color-sidebar-icons;
    margin-right:   5px;
    vertical-align: middle;
}


// ****************************************************************************
//  Color theme
// ****************************************************************************

// scss-lint:disable IdSelector
.theme-dfm .sidebar,
.theme-dfm .sidebar-toggle:active,
.theme-dfm #sidebar-checkbox:checked ~ .sidebar-toggle {
    background-color: $color-primary;
}

.theme-dfm .container a,
.theme-dfm .sidebar-toggle,
.theme-dfm .related-posts li a:hover {
    color: $color-primary;
}
