<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body class="theme-dfm">

{% include sidebar.html %}

<!-- Wrap is the content to shift when toggling the sidebar. We wrap the
     content to avoid any CSS collisions with our real content. -->
<div class="wrap">
    <header class="masthead" role="banner">
        <div class="container">
            <h3 class="masthead-title">
                <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
                <small>— {{ site.tagline }} (Work in progress)</small>
            </h3>
        </div>
    </header>

    <main class="container content">
        {{ content }}
    </main>
</div>

<label for="sidebar-checkbox" class="sidebar-toggle"></label>

{% include scripts.html %}

</body>
</html>
